@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

.error-message {
    color: red;
    background-color: #f5bbbb;
    padding: 5px;
    border-radius: 5px;
    margin-top: -15px;
    margin-bottom: 15px;
    text-align: center;
}

.login100-form-title, .p-b-49{
    font-family: 'Courgette', cursive;
}

.style{
    font-family: 'Paprika', cursive;
}

