{% extends 'AdminLTE/index.html' %}
{% load custom_filter %}
{% load custom_tags %}

{% block title %}
    {{ user.username }} Profile
{% endblock title %}

{% block content %}
    <div class="row" style="margin: auto">
        <div class="col-12">
            {% if articles %}
                <div class="card card-warning">
                    <div style="background-color: #9c67f3" class="card-header">
                        <h3 class="card-title">
                            {% if user.is_superuser %}
                                Admin's Article list
                            {% else %}
                                {{ user.first_name }}'s Articles
                            {% endif %}
                        </h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                       placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body table-responsive p-0" style="height: 420px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Thumbnail</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>
                                        {% if article.status in 'dr'|make_list or user.is_superuser %}
                                            <a href="{% url 'accounts:update_article' article.pk %}">{{ article.title }}</a>
                                        {% else %}
                                            {{ article.title }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <img src="{{ article.thumbnail.url }}" width="150" height="100" alt="Something">
                                    </td>
                                    <td>{{ article.author }}</td>
                                    <td>{{ article.published }}</td>
                                    {% autoescape on %}
                                        <td><p>{{ article.description|no_image|safe|truncatewords:20 }}</p></td>
                                    {% endautoescape %}

                                    {% status user article.status article %}

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            {% else %}
                <h5>No article to display</h5>
            {% endif %}
            <!-- /.card -->
        </div>
    </div>
{% endblock %}