{% extends 'AdminLTE/index.html' %}
{% load custom_filter %}

{% block title %}
    {{ user.username }} Profile
{% endblock title %}

{% block content %}
    <div class="row" style="margin: auto">
        <div class="col-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if user.is_superuser %}
                            Admin's Article list
                        {% else %}
                            {{ user.first_name }}'s Articles
                        {% endif %}
                    </h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                   placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->

                <div class="card-body table-responsive p-0" style="height: 420px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Thumbnail</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>
                                    {% if article.status == 'd' or user.is_superuser %}
                                        <a href="{% url 'accounts:update_article' article.pk %}">{{ article.title }}</a>
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                </td>
                                <td>
                                    <img src="{{ article.thumbnail.url }}" width="150" height="100" alt="Something">
                                </td>
                                <td>{{ article.category_in_string }}</td>
                                <td>{{ article.author }}</td>
                                {% autoescape on %}
                                    <td><p>{{ article.description|no_image|safe|truncatewords:20 }}</p></td>
                                {% endautoescape %}

                                {% if article.status == 'p' %}
                                    <td><a style="width: 140px;white-space: nowrap;height: 35px;font-size: 13px;"
                                           class="btn btn-success" href="{% url 'blog:detail_post' article.slug %}">
                                        <p>Published</p></a>
                                        {% if user.is_superuser %}
                                            <a style="display: block; text-align: center"
                                               class="text text-danger"
                                               href="{% url 'accounts:delete_article' article.pk %}">Delete</a>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td><a style="width: 140px;white-space: nowrap;height: 35px;font-size: 13px;"
                                           class="btn btn-primary" href="{% url 'blog:detail_post' article.slug %}">
                                        <p>Draft</p></a>
                                        {% if user.is_superuser %}
                                            <a style="display: block; text-align: center"
                                               class="text text-danger"
                                               href="{% url 'accounts:delete_article' article.pk %}">Delete</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}