{% extends 'AdminLTE/index.html' %}
<!-- Load crispy tags to be used -->
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
    <div style="padding: 20px">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Password change</h3>
                </div>

                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-6">
                                <!-- Styling each field of form as crispy separately -->
                                {{ form.old_password|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                        </div>
                        <input style="margin-top: 25px; margin-left: 30px; width: 150px; height: 45px; margin-bottom: 30px;" type="submit"
                               class="btn btn-danger float-right" value="Change">

                        {% if user.is_superuser and request.resolver_match.url_name == 'update_article' %}
                            <a class="btn btn-danger"
                               style="margin-top: 25px; margin-left: 10px; width: 150px; height: 45px; margin-bottom: 30px;"
                               href="{% url 'accounts:delete_article' request.resolver_match.kwargs.pk %}">Delete</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
