{% extends 'AdminLTE/index.html' %}
{% block title %}
    {{ user.username }} Profile
{% endblock title %}

{% block content %}
    <div style="padding: 20px">
        <div class="col-md-8 mx-auto">
            <div class="card card-success text-center">
                <div class="card-header">
                    <h3 class="card-title">Password changed</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Your password changed successfully</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
