{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ article.title|truncatewords:1 }}
{% endblock title %}


{% block header %}
    <header class="masthead" style="background-image: url({{ article.thumbnail.url }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">{{ article.sub_title }}</h2>
                        <span class="meta">
                                Published by
                                 <a href="{{ article.reference }}">{{ article.publisher }}</a>
                                on {{ article.published }}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ article.description|safe }}
                    <br>
                    <br>
                    <p>The article was published by <a href="{{ article.reference }}">{{ article.publisher }}</a></p>
                </div>
                <br>

            </div>
        </div>
    </article>
{% endblock content %}
