{% extends 'blog/base.html' %}
{% load static %}
{% load ratings %}

{% block title %}
    {{ article.title|truncatewords:1 }}
{% endblock title %}


{% block header %}
    <header class="masthead" style="background-image: url({{ article.thumbnail.url }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1 style="text-align: center">{{ article.title }}</h1>
                        <h2 class="subheading" style="text-align: center">{{ article.sub_title }}</h2>
                        <span class="meta" style="text-align: center">
                                Published by
                                 <a href="{{ article.reference }}">{{ article.publisher }}</a>
                                on {{ article.published }}
                            </span>
                    </div>
                    <div style="text-align: center; padding-top: 30px">{% ratings article %}</div>
                    <div class="view-counter">Views: {{ article.views.count }}</div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ article.description|safe }}
                    <br>
                    <br>
                    <p>The article was published by <a href="{{ article.reference }}">{{ article.publisher }}</a></p>
                </div>
                <br>
                <div id="refer">
                    <h4 style="float: left; font-family: Lora, -apple-system,serif">
                        {{ article.comments.count }}
                        {% if article.comments.count > 1 %}
                            Comments
                        {% else %}
                            Comment
                        {% endif %}
                    </h4>
                </div>
                <hr>
                {% include 'blog/comment.html' %}
            </div>
        </div>
    </article>
{% endblock content %}
