@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

table, th, td {
    white-space: pre-line;
    padding-bottom: 10px !important;
}

td, td a {
    font-size: small;
    font-family: 'Paprika', cursive;
}

th {
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

body{
    font-family: 'Paprika', cursive !important;
    font-size: smaller;
}
